/*
Syntax error: File to import not found or unreadable: sass-bootstrap/lib/bootstrap.
              Load paths:
                /Users/kenji/PycharmProjects/kenix-nos/app/styles
                /Users/kenji/PycharmProjects/kenix-nos/app
        on line 3 of main.scss

1: $icon-font-path: "/bower_components/sass-bootstrap/fonts/";
2: 
3: @import 'sass-bootstrap/lib/bootstrap';
4: 
5: .browsehappy {
6:   margin: 0.2em 0;
7:   background: #ccc;
8:   color: #000;

Backtrace:
main.scss:3
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:45:in `import'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:435:in `watch_or_update'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/Users/kenji/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/bin/scss:9:in `<top (required)>'
/Users/kenji/.rbenv/versions/2.0.0-p195/bin/scss:23:in `load'
/Users/kenji/.rbenv/versions/2.0.0-p195/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: sass-bootstrap/lib/bootstrap.\A               Load paths:\A                 /Users/kenji/PycharmProjects/kenix-nos/app/styles\A                 /Users/kenji/PycharmProjects/kenix-nos/app\A         on line 3 of main.scss\A \A 1: $icon-font-path: \"/bower_components/sass-bootstrap/fonts/\";\A 2: \A 3: @import 'sass-bootstrap/lib/bootstrap';\A 4: \A 5: .browsehappy {\A 6:   margin: 0.2em 0;\A 7:   background: #ccc;\A 8:   color: #000;"; }
