<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">

    <!-- Stylesheets -->
    <!--<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>
    -->
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    <!-- endbuild -->

    <script type="text/javascript">
        console.log("setup");
        function startApp() {
            var apisToLoad = 3; // must match number of calls to gapi.client.load()
            var gCallback = function () {
                if (--apisToLoad == 0) {
                    //Manual bootstraping of the application
                    var $injector = angular.bootstrap(document, ['kenix.scm']);
                    console.log('Angular bootstrap complete ');
                }
                ;
            };
            gapi.client.load('kenix_core', 'v1.0', gCallback, '//' + window.location.host + '/_ah/api');
            gapi.client.load('kenix_erp', 'v1.0', gCallback, '//' + window.location.host + '/_ah/api');
            gapi.client.load('kenix_wms', 'v1.0', gCallback, '//' + window.location.host + '/_ah/api');
        }
    </script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body ng-controller="AppCtrl">
<div ng-include="'public_header.tpl.html'"></div>
<!-- <div ng-include="'header.tpl.html'"></div> -->
<div ng-include="'notifications.tpl.html'" class="container-fluid"
     ng-show="notifications.getCurrent().length"></div>
<article>
    <div class="container">
        <ul class="row">
            <li class="col-sm-3 col-4 text-center">
                <i class="foundicon-checkmark"></i>

                <div class="box">
                    <h3>Easy</h3>

                    <p>No integration, no installation. You can start your logistics right away. </p>
                </div>
            </li>
            <li class="col-sm-3 col-4 text-center">
                <i class="foundicon-edit"></i>

                <div class="box">
                    <h3>Flexible</h3>

                    <p>Workflow is customizable for your needs. Our logistics consultants can
                        help you design the optimal workflow.</p>
                </div>
            </li>
            <li class="col-sm-3 col-4 text-center">
                <i class="foundicon-tools"></i>

                <div class="box">
                    <h3>Realtime</h3>

                    <p>Orders status and inventories are displayed in the console. Stream the status to your mobile
                        devices in realtime.</p>
                </div>
            </li>
            <li class="col-sm-3 col-4 text-center">
                <i class="foundicon-add-doc"></i>

                <div class="box">
                    <h3>Secure</h3>

                    <p>The industry standard SSL guarantees security.</p>
                </div>
            </li>
        </ul>
    </div>
</article>

<footer>
    <div class="container">
        <ul class="row">
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/terms">Terms of Use</a>
            </li>
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            <li>
                <a href="/contacts">Contact Us</a>
            </li>
        </ul>
    </div>
    <p>Copyright &copy; 2014 Kenix</p>
</footer>
<script src="https://apis.google.com/js/client.js?onload=startApp"></script>
</body>
</html>
